:root{
  
  --bg-color: #F5F4FA;
  --text-color: #757575;
  --title-color: #212121;
  --accent-second-color : #FFFFFF;
  --accent-color : #2196F3;
  --bg-footer-color: #2F303A;
  --second-font:"Raleway", sans-serif ;
  --main-font:"Roboto",sans-serif;
  --logo-color: #000000;
}
body{
  font-family:var(--main-font);
}
.container{
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container{
  display: flex;
  align-items: center;
}
.header-logo{
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-font);
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.header-logo span{
  color: var(--accent-color);
}
.header-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header{
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;

}
.header-title{
 margin-right: 93px;
}
.hero{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-image: url(../images/background\ image.png);
  background-repeat: no-repeat;
}

.team{
padding-top: 94px ;
padding-bottom: 94px;
 background-color: var(--bg-color) ;

}

.work{
  padding-bottom: 94px;
}

.teamwork{
  padding-top: 94px;
  padding-bottom: 94px;
 
 
}

.footer{
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-nav_link:hover{
 color: var(--accent-color);
}

.header-contact_link:hover{
color: var(--accent-color);
}
.header-nav_list{
 display: flex;
 gap: 50px ;
}

.header-contact_list{
  display: flex ;
  gap: 50px ;
}



.hero-title{
  font-size: 44px;
  color: var(  --accent-second-color);
  font-weight: 900;
}

.hero-btn{
  background-color: var(--accent-color);
  color: var(  --accent-second-color);
 padding: 10px 32px 10px 32px;
 margin-top: 30px;
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.teamwork-item:before{
background: var(--bg-color) ;
content: "" ;
display: block;
height: 120px;
width: 270px;
margin-bottom: 20px;
background-size: 70px;
background-position: center;
background-repeat: no-repeat;
}
.teamwork-item:first-child:before{
background-image: url(../images/satellite.png);
}

.teamwork-item:nth-child(2):before{
background-image: url(../images/clock.png);
}

.teamwork-item:nth-child(3):before{
  background-image: url(../images/diagram.png)
}

.teamwork-item:nth-child(4):before{
  background-image: url(../images/astronaut.png)
}
.teamwork-list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.teamwork-title{
  font-weight: 700;

}

.teamwork-text{
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 10px
}

.work-title{
  font-weight: 700;
  font-size: 36px ;
  text-align: center;
}

.work-list{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.team-title{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.team-list{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.team-item{
  background-color:  var(  --accent-second-color);
  gap: 30px;
  text-align: center;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2) , 0px 1px 1px 0px rgba(0, 0, 0, 0.14) ,  0px 1px 3px 0px rgba(0, 0, 0, 0.12) ;
}

.team-name{
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-worker{
  font-size: 16px;
  color: var(--text-color);
}

.footer{
  background-color: var(--bg-footer-color);
 
}





.projects-btn{
 border-radius: 4px;
 border: 1px solid var(--bg-color);
}
.projects-list{
  display: flex;
justify-content: center;
gap: 8px;
padding-bottom: 34px;
}
.projects-developer{
  font-weight: 700;
  font-size: 18px;
  padding-top: 4px;
}

.description{
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
  padding-top: 4px;
}

.projects-work{

 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
 

  
}

.projects-logo-btn{
  gap: 8px;
  font-size: 16px;
}

.projects-btn{
  font-size: 16px;
 background-color: var(--bg-color) ;
}

.projects-btn:hover{
 background-color: var(--accent-color);
}
.projects{
 padding-top: 94px;
  padding-bottom: 94px;
}

.projects-item:first-child{
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}
.footer-link_contact{
 color: (var(--accent-second-color));
 font-size: 14px;
 line-height: 24px;
 letter-spacing: 0.03em;
 opacity: 0.6;
}


.footer-logo{
  color: var(--accent-second-color);
  font-size: 26px;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: var(--second-font);
}

.footer-logo span{
  color: var(--accent-color);
}
.footer-link_address{
 color: var(--accent-second-color);
}