:root{
  
  --bg-color: #F5F4FA;
  --text-color: #757575;
  --title-color: #212121;
  --accent-second-color : #FFFFFF;
  --accent-color : #2196F3;
  --bg-footer-color: #2F303A;
  --second-font:"Raleway", sans-serif ;
  --main-font:"Roboto",sans-serif;
}
body{
  font-family:var(--main-font);
}
.container{
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container{
  display: flex;
  align-items: center;
}

.header-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header{
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;

}
.header-title{
 margin-right: 93px;
}
.hero{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-footer-color);
}

.teamwork{
padding-top: 94px ;
padding-bottom: 94px;

}

.work{
  padding-bottom: 94px;
}

.teamwork{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color) ;

 
}

.footer{
  padding-top: 60px;
  padding-bottom: 60px;
}


.header-nav_list{
 display: flex;
 gap: 50px ;
}

.header-contact_list{
  display: flex ;
  gap: 50px ;
}



.hero-title{
  font-size: 44px;
  color: var(  --accent-second-color);
  font-weight: 900;
}

.hero-btn{
  background-color: var(--accent-color);
  color: var(  --accent-second-color);

 padding: 10px 32px 10px 32px;
 margin-top: 30px;
}


.teamwork-list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.teamwork-title{
  font-weight: 700;

}

.teamwork-text{
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 10px
}

.work-title{
  font-weight: 700;
  font-size: 36px ;
  text-align: center;
}

.work-list{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.team-title{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.team-list{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.team-item{
  background-color:  var(  --accent-second-color);
 
  
  gap: 30px;
  text-align: center;

}

.team-name{
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-worker{
  font-size: 16px;
  color: var(--text-color);
}

.footer{
  background-color: var(--bg-footer-color);
 
}





.projects-btn{
 border-radius: 4px;
 border: 1px solid var(--bg-color);
}
.projects-list{
  display: flex;
justify-content: center;
gap: 8px;
padding-bottom: 34px;
}
.projects-developer{
  font-weight: 700;
  font-size: 18px;
  padding-top: 4px;
}

.description{
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
  padding-top: 4px;
}

.projects-work{

 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
 

  
}

.projects-logo-btn{
  gap: 8px;
  font-size: 16px;
}

.projects-btn{
  font-size: 16px;
 background-color: var(--bg-color) ;
}
.projects-btn:hover{
 background-color: var(--accent-color);
}
.projects{

  margin-bottom: 94px;
}

.footer-link_contact{
 color: (var(--text-color));
}


.footer-logo-link{
  color: #757575;
  font-size: 26px;
}
.footer-link_adress{
 color: var(--bg-color);
}